In [1]:
import pandas as pd
import numpy as np

In [4]:
measurement_df=pd.read_csv("./Resources/hawaii_measurements.csv")
station_df=pd.read_csv("./Resources/hawaii_stations.csv")

In [13]:
measurement_df.head(20)

        station        date  prcp  tobs
0   USC00519397  2010-01-01  0.08    65
1   USC00519397  2010-01-02  0.00    63
2   USC00519397  2010-01-03  0.00    74
3   USC00519397  2010-01-04  0.00    76
4   USC00519397  2010-01-06  0.00    73
5   USC00519397  2010-01-07  0.06    70
6   USC00519397  2010-01-08  0.00    64
7   USC00519397  2010-01-09  0.00    68
8   USC00519397  2010-01-10  0.00    73
9   USC00519397  2010-01-11  0.01    64
10  USC00519397  2010-01-12  0.00    61
11  USC00519397  2010-01-14  0.00    66
12  USC00519397  2010-01-15  0.00    65
13  USC00519397  2010-01-16  0.00    68
14  USC00519397  2010-01-17  0.00    64
15  USC00519397  2010-01-18  0.00    72
16  USC00519397  2010-01-19  0.00    66
17  USC00519397  2010-01-20  0.00    66
18  USC00519397  2010-01-21  0.00    69
19  USC00519397  2010-01-22  0.00    67

In [14]:
station_df.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [15]:
#Show data types
measurement_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [16]:
measurement_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [8]:
#Replace NA/missing values as '0' for column 'prcp'
measurement_df['prcp'].fillna(0,inplace=True)
measurement_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [9]:
station_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [10]:
station_df.count()#No NaN values

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [17]:
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [18]:
#export both cleaned csv files
measurement_df.to_csv("./Resources/hawaii_measurements_clean.csv",index=False,header=True)
station_df.to_csv("Resources/hawaii_Stations_clean.csv",index=False,header=True)